@using SiparisApps.Models
@model IEnumerable<OrderProduct> 


    <div class = "container">
        <div class="row">
            <div class="col-6">
                 <h2> Order List </h2>
            </div>
             <div class="col-6">
                 
            </div>
        </div>
            <div class = "row">
               
                <table class="table table-bordered table-striped my-2g">
                    <thead>
                        <tr>
                            <th>
                                 Order Id
                            </th>
                            <th>
                                 Name Surname
                            </th>
                            <th>
                                 Price
                            </th>
                            <th>
                                Transactions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--Döngü yapmamız lazım-->

                        @foreach (var orderProduct in Model)
                        {
                        <tr>
                            <td>@orderProduct.Id</td>
                            <td>@orderProduct.Name</td>
                            <td>@orderProduct.OrderPrice</td>
                            <td>
                             @*  <a asp-area="Customer" asp-controller="Order" asp-action="Crup" asp-route-id="@orderProduct.Id" class="btn btn-primary"> Update </a>*@

                               <a onclick="return confirm('Are you sure for remove ?');" asp-area="Customer"  asp-controller="Order" asp-action="CancelOrder" asp-route-id="@orderProduct.Id" class="btn btn-danger"> Cancel </a>
                                
                            </td>
                        </tr>
                        
                        }

                      

                    </tbody>

                </table>

            </div>

    </div>    
